.time-session {
  margin: 7px auto 0 auto;
  width: 340px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 6px;
  text-shadow: #fbee6e 0px 0px 10px, #fbee6e 0px 0px 40px;
  /*border: 3px solid white;
  border-radius: 10px;
  box-shadow: #fbee6e 0px 0px 10px 0px, #fbee6e 0px 0px 30px 2px, #fbee6e 0px 0px 15px 2px inset;*/
}
.time-count {
  width: 340px;
  color: white;
  font-family: 'Space Mono', sans-serif;
  font-size: 4rem;
  font-weight: bolder;
  padding: 0 4px 0 4px;
  border-radius: 12px;
  margin: 0 auto auto auto;
  /*box-shadow: 0px 0px 8px 4px #b7b7b7;*/
}
.time-digit {
  color: white;
  font-weight: 800;
}
.time-status {
  width: 350px;
  color: #888888;
  font-family: 'Space Mono', sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  margin: 4px auto auto auto;
}
.time-start-btn {
  cursor: pointer;
  height: 60px;
  width: 350px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 4px;
  border: 3px solid white;
  border-radius: 30px;
  margin: 10px 5px auto auto;
  background-color: #090b13;
  text-shadow: #80ea2b 0px 0px 5px, #80ea2b 0px 0px 15px;
  box-shadow: #80ea2b 0px 0px 6px 0px, #80ea2b 0px 0px 20px 0px, #80ea2b 0px 0px 12px 0px inset;
  outline: none;
}
.time-start-btn:hover {
  transition: 0.3s 0s all ease-out;
  text-shadow: #80ea2b 0px 0px 10px, #80ea2b 0px 0px 30px;
  box-shadow: #80ea2b 0px 0px 10px 0px, #80ea2b 0px 0px 30px 0px, #80ea2b 0px 0px 20px 0px inset;
}
.time-start-btn span {
  display: block;
  width: 2.4rem;
  height: 2.4rem;
  font-size: 2.0rem;
  padding: 6px 0 0 0;
  margin: 0 auto 0 auto;
  text-shadow: rgb(255, 255, 255) 0px 0px 10px;
}
.time-done-btn {
  cursor: pointer;
  height: 60px;
  width: 350px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 4px;
  border: none;
  border-radius: 30px;
  margin: 10px auto auto auto;
  background-color: #090b13;
  outline: none;
}
.time-reset-btn {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 170px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 4px 4px 4px 4px;
  border: 3px solid white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin: 10px 5px auto auto;
  background-color: #090b13;
  text-shadow: #80ea2b 0px 0px 1px, #80ea2b 0px 0px 30px;
  box-shadow: #80ea2b 0px 0px 5px 0px, #80ea2b 0px 0px 20px 0px, #80ea2b 0px 0px 15px 0px inset;
  outline: none;
}
.time-pause-btn {
  cursor: pointer;
  display: inline-block;
  height: 60px;
  width: 170px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  border: 3px solid white;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 10px 5px auto auto;
  background-color: #090b13;
  text-shadow: #f51f1f 0px 0px 10px, #f51f1f 0px 0px 40px;
  box-shadow: #f51f1f 0px 0px 10px 0px, #f51f1f 0px 0px 30px 2px, #f51f1f 0px 0px 15px 2px inset;
  outline: none;
}
