.time-form-template {
  margin: 20px auto auto auto;
}
.form-input-text {
  display: block;
  width: 186px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  padding: 4px;
  border: 2px solid #222222;
  border-radius: 8px;
  margin: 4px auto 4px auto;
  outline: none;
}
.form-input-text:focus {
  border: 2px solid #68a1da;
  box-shadow: 0px 0px 3px 1px #68a1da;
}
.form-input-num {
  display: inline-block;
  width: 45px;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  padding: 4px 0px 4px 12px;
  border: 2px solid #222222;
  border-radius: 8px;
  margin: 4px;
  outline: none;
}
.form-input-num:focus {
  border: 2px solid #68a1da;
  box-shadow: 0px 0px 3px 1px #68a1da;
}
.form-btn {
  display: block;
  cursor: pointer;
  height: 40px;
  width: 200px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0rem;
  font-weight: 600;
  text-align: center;
  padding: 4px;
  border: none;
  border-radius: 10px;
  margin: 4px auto auto auto;
  background-color: #148daf;
}
.form-btn:hover {
  transition: 0.1s 0s all ease-in;
  background-color: #08a6d2;
}
.form-error {
  width: 300px;
  height: 20px;
  color: red;
  font-style: italic;
  font-size: 1rem;
  margin: 0 auto 0 auto;
}
.up-arrow {
  font-size: 2rem;
  margin-bottom: 0px;
}
