.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  width: 60px;
  font-size: 1.6rem;
  border: 3px solid white;
  border-radius: 50%;
  margin: 7px auto 0 auto;
  box-shadow: #00ffc4 0px 0px 10px 2px, #00ffc4 0px 0px 20px 2px, #00ffc4 0px 0px 15px 1px inset;
}
.App-logo-needle {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #101325;
  height: 120px;
  padding: 20px;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 8;
  box-shadow: 0 0 28px 0px #449fb9, 0 0 10px 0px #449fb9,  0 0 5px 0px #449fb9;
}

.App-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: #04fff0 0px 0px 30px, #04fff0 0px 0px 8px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.Pomotimer-body {
  padding-top: 20px;
  position: absolute;
  top: 160px;
  bottom: 0px;
  right: 0;
  left: 0;
  background-color: #090b13;
  z-index: 8;
  box-shadow: 0 0 28px 0px #449fb9, 0 0 10px 0px #449fb9, 0 0 5px 0px #449fb9;
}
